### Content-based filtering

Content-based filtering using genres

In [1]:
# data load
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv("./data/tmdb_5000_movies.csv")
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [2]:
# 사용할 컬럼
cols = ['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']
movies_df = movies[cols]
print(movies_df.shape)

(4803, 8)

**genres, keywords에서 name value만 뽑아내기.**

In [3]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [20]:
# str to dict

from ast import literal_eval
movies_df['genres_name']=movies_df['genres'].apply(literal_eval)
movies_df['keywords_name']=movies_df['keywords'].apply(literal_eval)

In [21]:
movies_df['genres_name'] = movies_df['genres_name'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords_name'] = movies_df['keywords_name'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres_name', 'keywords_name']][:1]

,genres_name,keywords_name
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

**estimate genres content simularity.**

만약 영화 A의 장르는 a,b,c,d에 속하고  
영화 B의 장르는 a,b,c에 속한다면, 어떻게 유사도를 측정할까?  
가장 간단한 방법으로, 장르를 문자열로 변경하고 countvectorizer로 피처 백터화한 행렬 데이터 값을 코사인 유사도로 비교하는 것.